################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/MiniMart.Coco.Api/v16/Server/sqlite3
